[class^="svg-icon"] {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-color: transparent;
}

.main-menu [class^="svg-icon"] {
    width: 29px;
    height: 29px;
    display: block;
    background-size: 100%;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.5;
}

.text-title h1 [class^="svg-icon"] {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    vertical-align: middle;
}

[class^="svg-icon-social"] {
    width: 10vw;
    height: 10vw;
    display: inline-block;
    background-size: 100%;
    margin-right: auto;
    margin-left: auto;
}

.modal [class^="svg-icon-social"] {
    display: none;
}

.modal.show [class^="svg-icon-social"] {
    display: inline-block;
}

.fixed-menu .main-menu [class^="svg-icon"] {
    display: none;
}

.icon-list-slider [class^="svg-icon"],
.fade.show [class^="svg-icon"] {
    width: 45px;
    height: 45px;
    display: block;
    background-size: 100%;
    margin-right: auto;
    margin-left: auto;
}

.fade.show .overly [class^="svg-icon"] {
    width: 25px;
    height: 42px;
    display: block;
    background-size: 100%;
    margin-right: auto;
    margin-left: auto;
}

.grid .overly [class^="svg-icon"] {
    width: 25px;
    height: 42px;
    display: block;
    background-size: 100%;
    margin-right: auto;
    margin-left: auto;
}

.item-inner [class^="svg-icon"] {
    width: 38px;
    height: 38px;
}

#unit-section .svg-icon-units {
    width: 40px;
    position: absolute;
    height: 40px;
}

.title-left [class^="svg-icon"] {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.main-button [class^="svg-icon"] {
    width: 5vw;
    height: 5vw;
    float: right;
}

.building-access .col-lg-2.thumb [class^="svg-icon"] {
    width: 48px;
    height: 48px;
}

.building-access .col-3.thumb [class^="svg-icon"] {
    display: flex;
    width: 10vw;
    height: 10vw;
}

.main-menu li:hover [class^="svg-icon"] {
    cursor: pointer;
    opacity: 1;
}

/*.fixed.main-menu [class^="svg-icon"]*/

.svg-icon-search {
    width: 50px;
    height: 50px;
    background-image: url("../../svg/search.svg");
}

.svg-icon-about {
    background-image: url("../../svg/menu/about.svg");
}

.svg-icon-about-w {
    background-image: url("../../svg/menu/about-w.svg");
}

.main-menu li:hover .svg-icon-about {
    background-image: url("../../svg/menu/about_brown.svg");
}

.svg-icon-apartment {
    background-image: url("../../svg/menu/apartment.svg");
}

.svg-icon-apartment-w {
    background-image: url("../../svg/menu/apartment_white.svg");
}

.main-menu li:hover .svg-icon-apartment {
    background-image: url("../../svg/menu/apartment_brown.svg");
}

.svg-icon-services {
    background-image: url("../../svg/menu/services.svg");
}

.svg-icon-services-w {
    background-image: url("../../svg/menu/services-w.svg");
}

.svg-icon-services-b {
    background-image: url("../../svg/menu/services_brown.svg");
}

.main-menu li:hover .svg-icon-services {
    background-image: url("../../svg/menu/services_brown.svg");
}

.svg-icon-contact {
    background-image: url("../../svg/menu/contact.svg");
}

.svg-icon-contact-w {
    background-image: url("../../svg/menu/contact_white.svg");
}

.main-menu li:hover .svg-icon-contact {
    background-image: url("../../svg/menu/contact_brown.svg");
}

.svg-icon-investment {
    background-image: url("../../svg/menu/investment.svg");
}

.svg-icon-investment-w {
    background-image: url("../../svg/menu/investment_white.svg");
}

.svg-icon-rezvan-w {
    background-image: url("../../svg/menu/logo_base_2.svg");
}

.main-menu li:hover .svg-icon-investment {
    background-image: url("../../svg/menu/investment_brown.svg");
}

.svg-icon-how-owner {
    background-image: url("../../svg/menu/how-owner.svg");
}

.main-menu li:hover .svg-icon-how-owner {
    background-image: url("../../svg/menu/how-owner_brown.svg");
}

.svg-icon-request {
    background-image: url("../../svg/menu/request.svg");
}

.svg-icon-request-w {
    background-image: url("../../svg/menu/request-w.svg");
}

.main-menu li:hover .svg-icon-request {
    background-image: url("../../svg/menu/request_brown.svg");
}

.svg-icon-logo-footer {
    background-image: url("../../svg/menu/logo-footer.svg");
    width: 100%;
    height: 100%;
    background-size: contain;
}

.svg-icon-logo {
    background-image: url("../../svg/menu/logo-header.svg");
    width: 612px;
    height: 30vw;
}

.svg-icon-logo-ar {
    background-image: url("../../svg/menu/logo-header.svg");
    width: 20vw;
    height: 30vw;
}

.svg-icon-logo-landscape {
    background-image: url("../../svg/menu/logo-header-mobile.svg");
}

.svg-icon-logo-landscape-ar {
    background-image: url("../../svg/menu/logo-header-mobile.svg");
}

.svg-icon-elevator {
    background-image: url("../../svg/apartment/elevator2.svg");
}

.svg-icon-floors {
    background-image: url("../../svg/apartment/floors.svg");
}

.svg-icon-units {
    background-image: url("../../svg/apartment/units.svg");
}

.svg-icon-parking {
    background-image: url("../../svg/apartment/parking1.svg");
}

.svg-icon-fire-alarm {
    background-image: url("../../svg/apartment/fire-alarm.svg");
}

.svg-icon-lobby {
    background-image: url("../../svg/apartment/lobby.svg");
}

.svg-icon-guard {
    background-image: url("../../svg/apartment/building-guard.svg");
}

.svg-icon-cctv {
    background-image: url("../../svg/apartment/cctv.svg");
}

.svg-icon-unit-number {
    background-image: url("../../svg/apartment/units.svg");
}

.svg-icon-elevator-w {
    background-image: url("../../svg/apartment/elevator2-w.svg");
}

.svg-icon-floors-w {
    background-image: url("../../svg/apartment/floors-w.svg");
}

.svg-icon-units-w {
    background-image: url("../../svg/apartment/units-w.svg");
}

.svg-icon-parking-w {
    background-image: url("../../svg/apartment/parking1-w.svg");
}

.svg-icon-fire-alarm-w {
    background-image: url("../../svg/apartment/fire-alarm-w.svg");
}

.svg-icon-lobby-w {
    background-image: url("../../svg/apartment/lobby-w.svg");
}

.svg-icon-guard-w {
    background-image: url("../../svg/apartment/building-guard-w.svg");
}

.svg-icon-cctv-w {
    background-image: url("../../svg/apartment/cctv-w.svg");
}

.svg-icon-unit-number-w {
    background-image: url("../../svg/apartment/units-w.svg");
}


.svg-icon-wc {
    background-image: url("../../svg/unit/thin/wc.svg");
}

.svg-icon-toilet {
    background-image: url("../../svg/unit/thin/toilet.svg");
}

.svg-icon-bathroom {
    background-image: url("../../svg/unit/thin/bathroom.svg");
}

.svg-icon-heating-system {
    background-image: url("../../svg/unit/thin/heating-radiator.svg");
}

.svg-icon-cooling-system {
    background-image: url("../../svg/unit/thin/air-conditioner.svg");
}

.svg-icon-bold-master {
    background-image: url("../../svg/unit/bold/master.svg");
}

.svg-icon-bold-floor {
    background-image: url("../../svg/unit/bold/floor.svg");
}

.svg-icon-bold-parking {
    background-image: url("../../svg/unit/bold/parking.svg");
}

.svg-icon-bold-furnished {
    background-image: url("../../svg/unit/bold/furnished.svg");
}

.svg-icon-bold-rooms {
    background-image: url("../../svg/unit/bold/rooms.svg");
}

.svg-icon-bold-heating-system {
    background-image: url("../../svg/unit/bold/heating-radiator.svg");
}

.svg-icon-bold-list-45 {
    background-image: url("../../svg/list-45.svg");
    background-size: 25px;
}

.svg-icon-bold-list-46 {
    background-image: url("../../svg/list-46.svg");
    background-size: 25px;
}

.svg-icon-bold-list-47 {
    background-image: url("../../svg/list-47.svg");
    background-size: 25px;
}

.svg-icon-bold-list-48 {
    background-image: url("../../svg/list-48.svg");
    background-size: 25px;
}

.svg-icon-bold-list-49 {
    background-image: url("../../svg/list-49.svg");
    background-size: 25px;
}

.svg-icon-bold-list-50 {
    background-image: url("../../svg/list-50.svg");
    background-size: 25px;
}

.svg-icon-bold-list-69 {
    background-image: url("../../svg/list-69.svg");
    background-size: 25px;
}

.svg-icon-bold-list-45-w {
    background-image: url("../../svg/list-45-w.svg");
    background-size: 25px;
}

.svg-icon-bold-list-46-w {
    background-image: url("../../svg/list-46-w.svg");
    background-size: 25px;
}

.svg-icon-bold-list-47-w {
    background-image: url("../../svg/list-47-w.svg");
    background-size: 25px;
}

.svg-icon-bold-list-48-w {
    background-image: url("../../svg/list-48-w.svg");
    background-size: 25px;
}

.svg-icon-bold-list-49-w {
    background-image: url("../../svg/list-49-w.svg");
    background-size: 25px;
}

.svg-icon-bold-list-50-w {
    background-image: url("../../svg/list-50-w.svg");
    background-size: 25px;
}

.svg-icon-bold-list-69-w {
    background-image: url("../../svg/list-69-w.svg");
    background-size: 25px;
}

.svg-icon-bold-cooling-system {
    background-image: url("../../svg/unit/bold/cooling-water.svg");
}

.svg-icon-bold-wc {
    background-image: url("../../svg/unit/bold/wc.svg");
}

.svg-icon-bold-toilet {
    background-image: url("../../svg/unit/bold/toilet.svg");
}

.svg-icon-bold-master-w {
    background-image: url("../../svg/unit/bold/master-w.svg");
}

.svg-icon-bold-floor-w {
    background-image: url("../../svg/unit/bold/floor-w.svg");
}

.svg-icon-bold-parking-w {
    background-image: url("../../svg/unit/bold/parking-w.svg");
}

.svg-icon-bold-furnished-w {
    background-image: url("../../svg/unit/bold/furnished-w.svg");
}

.svg-icon-bold-rooms-w {
    background-image: url("../../svg/unit/bold/rooms-w.svg");
}

.svg-icon-bold-heating-system-w {
    background-image: url("../../svg/unit/bold/heating-radiator-w.svg");
}

.svg-icon-bold-cooling-system-w {
    background-image: url("../../svg/unit/bold/cooling-water-w.svg");
}

.svg-icon-bold-wc-w {
    background-image: url("../../svg/unit/bold/wc-w.svg");
}

.svg-icon-bold-toilet-w {
    background-image: url("../../svg/unit/bold/toilet-w.svg");
}

.svg-icon-near-airplane {
    background-image: url("../../svg/nearby/airplane.svg");
    width: 14vw !important;
    height: 14vw !important;
}

.svg-icon-near-bank {
    background-image: url("../../svg/nearby/bank.svg");
    width: 14vw !important;
    height: 14vw !important;
}

.svg-icon-near-hospital {
    background-image: url("../../svg/nearby/hospital.svg");
    margin: 2vw 0;
}

.svg-icon-near-laundry {
    background-image: url("../../svg/nearby/laundry.svg");
    margin: 2vw 0;
}

.svg-icon-near-metro {
    background-image: url("../../svg/nearby/metro.svg");
    width: 14vw !important;
    height: 14vw !important;
    margin: 2vw 0;
}

.svg-icon-near-restaurant {
    background-image: url("../../svg/nearby/restaurant.svg");
    width: 14vw !important;
    height: 14vw !important;
    margin: 1vw -2vw;
}

.svg-icon-near-shopping {
    background-image: url("../../svg/nearby/shopping.svg");
    width: 12vw !important;
    height: 12vw !important;
}

.svg-icon-near-shrine {
    background-image: url("../../svg/nearby/shrine.svg");
    width: 16vw !important;
    height: 16vw !important;
    margin: -1vw -3vw;
}

.svg-icon-near-airplane-w {
    background-image: url("../../svg/nearby/airplane-w.svg");
    width: 80px !important;
    height: 80px !important;
    margin: -16px -16px;
}

.svg-icon-near-mosque-w {
    background-image: url("../../svg/nearby/mosque-w.svg");
}

.svg-icon-near-bank-w {
    background-image: url("../../svg/nearby/bank-w.svg");
    width: 80px !important;
    height: 80px !important;
    margin: -20px -16px;
}

.svg-icon-near-hospital-w {
    background-image: url("../../svg/nearby/hospital-w.svg");
}

.svg-icon-near-laundry-w {
    background-image: url("../../svg/nearby/laundry-w.svg");
}

.svg-icon-near-metro-w {
    background-image: url("../../svg/nearby/metro-w.svg");
    width: 80px !important;
    height: 80px !important;
    margin: -16px -16px;
}

.svg-icon-near-restaurant-w {
    background-image: url("../../svg/nearby/restaurant-w.svg");
    width: 80px !important;
    height: 80px !important;
    margin: -16px -22px;
}

.svg-icon-near-shopping-w {
    background-image: url("../../svg/nearby/shopping-w.svg");
    width: 60px !important;
    height: 60px !important;
    margin: -14px -6px;
}

.svg-icon-near-shrine-w {
    background-image: url("../../svg/nearby/shrine-w.svg");
    background-size: 88px;
}

/*Social*/
.svg-icon-social-facebook {
    background-image: url("../../svg/social/facebook-t.svg");
}

.svg-icon-social-twitter {
    background-image: url("../../svg/social/twitter-t.svg");
}

.svg-icon-social-instagram {
    background-image: url("../../svg/social/instagram-t.svg");
}

.svg-icon-social-whatsapp {
    background-image: url("../../svg/social/whatsapp-t.svg");
}

.svg-icon-social-linkedin {
    background-image: url("../../svg/social/linkedin-t.svg");
}

.svg-icon-social-facebook:hover {
    background-image: url("../../svg/social/facebook.svg");
}

.svg-icon-social-twitter:hover {
    background-image: url("../../svg/social/twitter.svg");
}

.svg-icon-social-instagram:hover {
    background-image: url("../../svg/social/instagram.svg");
}

.svg-icon-social-whatsapp:hover {
    background-image: url("../../svg/social/whatsapp.svg");
}

.svg-icon-social-linkedin:hover {
    background-image: url("../../svg/social/linkedin.svg");
}

@media (max-width: 768px) {
    .fixed-menu .main-menu [class^="svg-icon"] {
        display: inline-block;
        vertical-align: middle;
    }

    .main-menu [class^="svg-icon"] {
        width: 7vw;
        height: 7vw;
        display: inline-block;
        vertical-align: middle;
    }

    .icon-list-slider [class^="svg-icon"],
    .fade.show [class^="svg-icon"] {
        width: 7vw;
        height: 7vw;
    }

    .fade.show .overly [class^="svg-icon"] {
        width: 25px;
        height: 42px;
        display: block;
        background-size: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .grid .overly [class^="svg-icon"] {
        width: 25px;
        height: 42px;
        display: block;
        background-size: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .item-inner [class^="svg-icon"] {
        width: 5vw;
        height: 5vw;
    }

    #unit-section .svg-icon-units {
        width: 40px;
        position: absolute;
        height: 40px;
    }

    .title-left [class^="svg-icon"] {
        width: 60px;
        height: 60px;
    }

    [class^="svg-icon-social"] {
        width: 10vw !important;
        height: 10vw !important;
    }

    .svg-icon-social-facebook {
        background-image: url("../../svg/social/facebook.svg");
    }

    .svg-icon-social-twitter {
        background-image: url("../../svg/social/twitter.svg");
    }

    .svg-icon-social-instagram {
        background-image: url("../../svg/social/instagram.svg");
    }

    .svg-icon-social-whatsapp {
        background-image: url("../../svg/social/whatsapp.svg");
    }

    .svg-icon-social-linkedin {
        background-image: url("../../svg/social/linkedin.svg");
    }

    .svg-icon-logo,
    .svg-icon-logo-ar {
        background-image: url("../../svg/menu/logo-header-mobile.svg");
    }

    .items.collapsed .svg-icon-bold-master-w {
        background-image: url("../../svg/unit/bold/master.svg");
    }

    .items.collapsed .svg-icon-bold-floor-w {
        background-image: url("../../svg/unit/bold/floor.svg");
    }

    .items.collapsed .svg-icon-bold-parking-w {
        background-image: url("../../svg/unit/bold/parking.svg");
    }

    .items.collapsed .svg-icon-bold-furnished-w {
        background-image: url("../../svg/unit/bold/furnished.svg");
    }

    .items.collapsed .svg-icon-bold-rooms-w {
        background-image: url("../../svg/unit/bold/rooms.svg");
    }

    .items.collapsed .svg-icon-bold-heating-system-w {
        background-image: url("../../svg/unit/bold/heating-radiator.svg");
    }

    .items.collapsed .svg-icon-bold-cooling-system-w {
        background-image: url("../../svg/unit/bold/cooling-water.svg");
    }

    .items.collapsed .svg-icon-bold-wc-w {
        background-image: url("../../svg/unit/bold/wc.svg");
    }

    .items.collapsed .svg-icon-bold-toilet-w {
        background-image: url("../../svg/unit/bold/toilet.svg");
    }
}