.picture-slide-1,
.picture-slide-1 video{
    width: 100% !important;
}

.final-project-view .slide-2,
.final-project-view .slide-2 img{
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.txt-post-page-test{
    min-height: 650px;
}

.final-project-view #order-post img,
#slide-1 .carousel-inner .grid>img,
#slide-2 .carousel-inner .grid>img{
    width: 260px;
    height: 130px;
}

#slide-1 .carousel-inner .grid.first-post>img,
#slide-2 .carousel-inner .grid.first-post>img{
    width: 100%;
    height: 390px;
}
#header.fixed-menu{
    top: 0;
}
.final-project-view .fixed-menu + main,
.more-one .fixed-menu + main{
    margin-top: 160px;
}

.list .project-list{
    min-height: 1000px;
}

.header-bottom *{
    text-transform: uppercase;
}

.form-control-feedback{
    color: #d00;
    font-size: 0.9rem;
}

.captcha img {
    height: 39px;
    background-color: #ddd;
    border-radius: .25rem 0 0 .25rem;
}
.btn.btn-primary.capatcha-button{
    border-radius: 0 .25rem .25rem 0;
}

li.menu-item {
    margin-right: 15px;
}