.picture-slide-1,
.picture-slide-1 video {
    width: 100% !important;
}

.final-project-view .slide-2,
.final-project-view .slide-2 img {
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.txt-post-page-test {
    min-height: 650px;
}

.final-project-view #order-post img,
#slide-1 .carousel-inner .grid > img,
#slide-2 .carousel-inner .grid > img {
    width: 260px;
    height: 130px;
}

#slide-1 .carousel-inner .grid.first-post > img,
#slide-2 .carousel-inner .grid.first-post > img {
    width: 100%;
    height: 390px;
}

#header.fixed-menu {
    top: 0;
}

.final-project-view .fixed-menu + main,
.more-one .fixed-menu + main {
    margin-top: 160px;
}

.list .project-list {
    min-height: 1000px;
}

.header-bottom * {
    text-transform: uppercase;
}

.form-control-feedback {
    color: #d00;
    font-size: 0.9rem;
}

.captcha img {
    height: 39px;
    background-color: #ddd;
    border-radius: .25rem 0 0 .25rem;
}

.btn.btn-primary.capatcha-button {
    border-radius: 0 .25rem .25rem 0;
}

li.menu-item {
    margin-right: 15px;
}

.final-project-view #header.header-style-2 {
    z-index: 1;
}

.more-one .available .items.collapsed:hover {
    background-color: #82aa23;
}

.more-one .available .items:not(.collapsed):hover {
    background-color: #fff !important;
}

.more-one .content .items:not(.collapsed):hover .item {
    opacity: 1 !important;
}

.more-one .content .items:not(.collapsed):hover .item-1 {
    color: #82aa23 !important;
}

.more-one .content .items:not(.collapsed):hover .link-more {
    display: none !important;
}

.more-one .collapse-link-more {
    display: block;
    text-decoration: none;
    opacity: 1;
    text-align: center;
    padding: 15px;
}

.more-one .collapse-link-more a.more {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    height: 100px;
    color: #222;
    text-decoration: none !important;
}
.more-one .collapse-link-more a.more:hover{
    color: #777;
}