@font-face{
	font-family:IRANSans;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/IRANSansWeb.eot);
	src:url(../fonts/IRANSansWeb.eot?#iefix) format("embedded-opentype"),url(../fonts/IRANSansWeb.woff2) format("woff2"),url(../fonts/IRANSansWeb.woff) format("woff"),url(../fonts/IRANSansWeb.ttf) format("truetype")
}
html {
	direction: rtl;
}

body {
    text-align: right;
	font-family:IRANSans!important;
}
.offset-10 {
    margin-right: 83.333333%;
    margin-left: unset;
}
.header-top .col-lg-10>.row {
    float: left;
}
form.search-form {
    text-align: left;
}
form.search-form:before {
    left: -35px;
    right: unset;
}
input.search-field {
    padding-left: 5px;
    padding-right: 35px;
	text-align: left;
}
.social-list {
    padding-right: 0;
}
.title-left {
    float: right;
}
.title-right {
    float: left;
}
.grid.first-post a, .grid.first-post span.description {
	left: unset;
    right: 5%;
}
.overly {
    left: 0;
    right: unset;
}
section.slide-1 {
    background: url(images/slide-1-rtl.jpg) no-repeat center bottom;
	background-size: cover;
}
.home section.slide-2 {
    background: url(images/slide-2-rtl.jpg) no-repeat center bottom;
	background-size: cover;
}
.home section.slide-3>.container-fluid {
    background: url(images/slide-3-rtl.png) no-repeat left;
	background-size: auto 100%;
}
.home section.slide-4 {
    background: url(images/slide-4-rtl.jpg) no-repeat center bottom;
	background-size: cover;
}
.carousel-item {
    float: right;
    margin-left: -100%;
    margin-right: unset;
}
footer {
    background: url(images/bg-footer-rtl.jpg) no-repeat center center;
	background-size: cover;
}
footer>.container-fluid {
    background-position-x: 60%;
}
#footer-menu {
    margin: 10px auto 0 10%;
}
#footer-menu a {
    padding-right: 15px;
    padding-left: 5px;
}
.copy-2 {
    text-align: left;
    padding-left: 10% !important;
	padding-right: unset !important;
}
.navbar-nav {
    padding-right: 0;
    padding-left: unset;
}
button.btn.btn-primary.section-button {
	right:unset;
    left: 30px;
    float: left;
}
.title-left h2.slide {
    padding-right: 15px;
    padding-left: 0;
}
@media (min-width: 992px) {
	.home section.slide-3>.container-fluid {
		min-height: 1000px;
	}
}
@media (min-width: 769px) {
	#menu-main .navbar, .search-container {
		float: left;
	}
	ul.main-menu, ul#main-navigation {
		display: flex;
		float: left;
		padding-left: 0;
		clear: both;
	}
}
@media (max-width: 768px) {
	#language {
		right: unset;
		left: 10px;
	}
}